<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.after.memo.dao.memoDAO">
    <insert id="insert" parameterType="kr.hs.after.memo.dto.memoDTO">
        insert into memo(idx,id,name,pw,email) values (next value for seq_idx,#{id},#{name},#{pw},#{email})
    </insert>

    <select id="listOne" resultType="kr.hs.after.memo.dto.memoDTO">
        select * from memo where idx = #{idx}
    </select>

    <select id="loginSelect" resultType="kr.hs.after.memo.dto.memoDTO">
        select * from memo where id = #{id}
    </select>

    <insert id="insertMemo" parameterType="kr.hs.after.memo.dto.memoDTO">
        insert into memo2 (idx,memo,writer) values (next value for seq_idx,#{memo},#{writer})
    </insert>
</mapper>
